/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    background-image: url(../img/Login.png);
}

/* Navbar */
.navbar {
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #3C4048;
    height: 60px;
    width: 500px;
    border-radius: 50px;
    font-size: 18px;
}

nav ul li a {
    margin: 0 52px;
    color: #fff;
}

nav ul li a i {
    text-decoration: none;
    list-style: none;
}

nav h1 {
    font-size: 34px;
    font-weight: 700;
    color: #3C4048;
}

.user {
    display: flex;
}

.user h5 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #3C4048;
}