/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    background-image: url(../img/Login.png);
}

/* Navbar */
.navbar {
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #3C4048;
    height: 60px;
    width: 750px;
    border-radius: 50px;
    font-size: 18px;
}

nav ul li a {
    margin: 0 52px;
    color: #fff;
}

nav ul li a i {
    text-decoration: none;
    list-style: none;
}

nav h2 {
    font-size: 34px;
    font-weight: 700;
    color: #3C4048;
}

.user {
    display: flex;
}

.user h5 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #3C4048;
}

/* Jumbotron */
.jumbotron {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.caption {
    color: #4D4D4D;
}

.caption h2 {
    font-size: 84px;
    font-weight: 800;
}

.caption p {
    font-size: 24px;
    font-weight: 500;
}

.report {
    background-color: #3C4048;
    color: #fff;
    width: 800px;
    height: 650px;
    border-radius: 50px;
}

.report-desc h3 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 2rem 0;
}

table {
    margin-left: 30px;
    font-family: 'Quicksand', sans-serif;
    border-collapse: collapse;
    width: 95%;
  }
  
td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}