/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    background-image: url(../img/Login.png);
}

/* Navbar */
.navbar {
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #3C4048;
    height: 60px;
    width: 750px;
    border-radius: 50px;
    font-size: 18px;
}

nav ul li a {
    margin: 0 52px;
    color: #fff;
}

nav ul li a i {
    text-decoration: none;
    list-style: none;
}

nav h2 {
    font-size: 34px;
    font-weight: 700;
    color: #3C4048;
}

.user {
    display: flex;
}

.user h5 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #3C4048;
}

/* Login */
.login {
    margin: 120px 0;
}
.login-logo {
    display: flex;
    justify-content: center;
}
.login-logo h2 {
    font-size: 32px;
    font-weight: 600;
    color: #3C4048;
}
.login-form {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.login-form #name {
    width: 500px;
    font-size: 18px;
    font-weight: 600;
    opacity: 70%;
    border-style: none;
    background: none;
}
.login-form #address {
    width: 500px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    opacity: 70%;
    border-style: none;
    background: none;
}
.login-form #telp {
    width: 500px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    opacity: 70%;
    border-style: none;
    background: none;
}
.login-form #checkbox {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    background: none;
}
.login-form #login {
    margin-left: 150px;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    border-radius: 25px;
    background-color: #ceece4;
    width: 204px;
    height: 52px;
    cursor: pointer;
}
.line-dark {
    width: 500px;
    height: 1px;
    background-color: #000;
    border-radius: 50px;
}